
.margen {
  margin-top: 40px;
  padding-top: 40px;
}
/*.card{
  width: 20rem;
}*/

.row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    padding-bottom: 40px;
}
.cardbtn{
  position: absolute;
    bottom: 10px;
    left: 50%;
    -ms-transform:: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
#add{
  font-size: 0.8em;
}

* {
    font-family: 'Roboto', sans-serif;
}
